header.flex {
  justify-content: space-between;
  align-items: center;
  padding: 0 5.4rem;
  margin-top: 1.2rem;
  position: absolute;
  z-index: 30;
  font-family: "Mulish";
}
header.flex nav {
  z-index: 30;
  color: white;
  padding: 0.5rem 0.6rem;
  border-radius: 55px;
  box-shadow: 1px 1px 10px var(--blue);

}
header ul.flex {
  gap: 16px;
  align-items: center;
}
header ul li {
  opacity: 0.9;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
header ul li:hover {
  color: #ED9455;
  opacity: 1;
  transition: 0.5s;
}

/*Hamburger start*/
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}
/*Hamburger end*/
/*pop up */
header .fixed {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(40, 40, 48, 0.91);
  backdrop-filter: blur(8px);
}
@keyframes mymove {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

header .fixed ul.model {
  animation: mymove 2s 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: #3C5B6F;
  
}
header .fixed ul.model li {

  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: aliceblue;
}
header .fixed ul.model li:last-child {
  border-bottom: none;
}
header .fixed ul.model li:first-child {
  text-align: right;
}
/*close*/
.button {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  border: none;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 5px;
  transition: background 0.5s;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 1px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}

.button:hover {
  background-color: red;
}

.button:active {
  background-color: rgb(130, 0, 0);
}

.button:hover > .close {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}
.logo{
  width: 10%;
}

/*media quire*/

@media (max-width: 700px) {
  .logo {
display: flex;
position: relative;
width: 20%;
top: 50%;
  }
  header.flex nav {
    display: none;
  }
  .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 50px;
  }
}
